<p id="notice"><%= notice %></p>

<% provide(:title, @user.username) %>

<h1>
	<%= @user.username %> 
</h1>


<div class="row">
	<aside class="span4">
		<section>
			<h1>
	 		  <%= gravatar_for @user %>
		  	</h1>
		</section>
	</aside>
</div>



<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @user.biography %>
</p>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<br>

<p>
  <% if @user.events.any? %>
    <h2>Events (<%= @user.events.count %>)</h2>
    <ol class="events">
      <%= render @events %>
    </ol>
    <%= will_paginate @events%>
  <% end %>
</p>



