<% provide(:title, 'Events') %>
<h1>Events</h1>


    	<%= form_tag events_path, :method => 'get' do %>
    	<div class="search_form">
    	    <div id="search"><%= text_field_tag :search, params[:search] %>  </div>
    	  <div id="search_btn">
    	   <%= submit_tag 'Search' %>
    	  </div>
    	<% end %>


<br>
<br>

<ul class="events">
  <% @events.each do |event| %>
    <li>
      <%= link_to event.name, event %>
	  <br>
	  Location: 
	  <%= event.location %>
	  <br>
	  Time: 
	  <%= event.time %>
	  <br>
	  Description:
	  <%= event.description %>
	  <br>
	  <% if current_user.id == event.user_id %>
	  	|  <%= link_to 'Edit', edit_event_path(event) %>
		<% end %>

	  <% if current_user.admin? && !(current_user.id == event.user_id) %>
	  	| <%= link_to "Delete", event, method: :delete, data: { confirm: "You sure?" } %>
		<% end %>
	  
    </li>
  <% end %>
</ul>


<br>
<%= link_to 'New Event', new_event_path %>
